* { margin: 0; padding: 0; }

body {
    background: white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}

#play {
    display: none;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 200px;
    height: 100px;
    padding: 10px;
    text-align: center;
    font-size: 48px;
    background: #c71621;
    color: white;
    text-shadow: 0 0 1px black;
    border: none; outline: none;
    border-radius: 10px;
    cursor: pointer;
}

#main {
    display: none;
    width: 800px;
    margin: 50px auto 0;
}

#score {
    width: 800px;
    margin-top: 30px;
    overflow: auto;
    height: 320px;
    padding: 20px;
    background: white;
    margin-left: -30px;
}

#score img {
    width: 800px;
    margin-bottom: 20px;
}

#dot {
    width: 5px;
    height: 5px;
    background: #c71621;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#instruments {
    width: 790px;
    height: 200px;
    overflow: auto;
    margin-left: 10px;
    position: relative;
    /*background: url('images/orchestra.png') no-repeat center center;*/
}

.instrument {
    border-radius: 100px;
    border: 1px solid black;
    cursor: pointer;
    padding-top: 25px;
    padding-left: 15px;
    width: 160px;
    height: 150px;
    opacity: 0.5;
    float: left;
    margin-right: 20px;

    background: linear-gradient(to bottom, white 50%, gray 50%);
    background-size: 100% 200%;
    background-position: left 33%;
    /*transition: 0.5s all ease;*/
}

.instrument.hover, .instrument:hover {
    opacity: 1;
}

.instrument.active {
    border-color: #c71621;
    box-shadow: inset 0 0 10px #c71621;
}

.instrument:last-child {
    margin-right: 0;
}

.instrument:not(:first-child) img {
    position: relative;
    left: 8px;
}