* { margin: 0; padding: 0; }

body {
    background: white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}

#play {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 200px;
    height: 100px;
    padding: 10px;
    text-align: center;
    font-size: 48px;
    background: #c71621;
    color: white;
    text-shadow: 0 0 1px black;
    border: none; outline: none;
    border-radius: 10px;
    cursor: pointer;
}

#main {
    display: none;
    width: 800px;
    margin: 50px auto 0;
}

#score {
    width: 800px;
    margin-top: 30px;
    overflow: auto;
    height: 320px;
    padding: 20px;
    background: white;
    margin-left: -30px;
}

#score img {
    width: 800px;
    margin-bottom: 20px;
}

#instruments {
    width: 780px;
    height: 200px;
    overflow: auto;
    /*background: url('images/orchestra.png') no-repeat center center;*/
}

.instrument {
    border-radius: 100px;
    border: 1px solid black;
    transition: 0.2s all;
    cursor: pointer;
    padding-top: 25px;
    padding-left: 15px;
    width: 160px;
    height: 150px;
    opacity: 0.5;
    float: left;
    margin-right: 20px;
}

.instrument:hover {
    /*border-color: #c71621;*/
    opacity: 1;
}

.instrument:last-child {
    margin-right: 0;
}

/*.instrument {
    font-size: 24px;
    color: white;
    text-shadow: 0 0 2px black;
    text-align: center;
    position: relative;
    float: left;
    text-transform: uppercase;
    transition: 0.2s all;
    cursor: pointer;
    margin-top: 85px;
    background: none!important;
    position: relative;
    margin-right: 45px;
}

.instrument:first-child {
    margin-left: 60px;
    margin-top: 120px;
    left: 10px;
}

.instrument:last-child {
    margin-right: 0;
    margin-left: -30px;
    margin-top: 120px;
}

.instrument.active {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 6px black;
}

.drum {
    background: #267326;
}

.drum.active {
    background: #318F31;
}

.violin {
    background: #87352F;
    right: 15px;
}

.violin.active {
    background: #BF4941;
}

.clarinet {
    background: #2F648A;
}

.clarinet.active {
    background: #418BBF;
}*/
